.my-col {
  min-height: 600px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.checkout-alert {
  margin: 0px !important;
  background-color: #5cb85c;
  border: none;
  border-radius: 0px;
}
