.jumbotron {
  background-color: black;
  background-image: url("../images/bg2-tinted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  margin: 0 !important;
  border-radius: 0 !important;
}
