.form-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  margin-bottom: 40px;
  outline-color: transparent;
  outline-style: none;
  border-color: gray;
}

.form-input:focus {
  background-color: rgba(0, 0, 0, 0) !important;
  outline-color: transparent;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: white;
}
.form-container {
  max-width: 400px;
  padding: 20px;
  margin: auto;
}
.form-label {
  padding: 0 !important;
  margin: 0 !important;
}
.form-btn {
  background-image: url("../images/right-arrow-2.png");
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  width: 70px;
  height: 70px;
}
.form-btn:focus {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.form-btn:hover {
  width: 72px;
  height: 72px;
}
