.img-thumbnail {
  max-width: 100px !important;
  max-height: 100px !important;
  background-color: transparent !important;
  border: none !important;
  padding-right: 20px;
}
.my-list-group {
  max-height: 600px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
