.my-col {
  min-height: 500px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.mapContainer {
  background-image: url("../images/fake-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
