.my-col {
  min-height: 600px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.mapContainer {
  background-image: url("../images/fake-map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-thumbnail {
  max-width: 100px !important;
  max-height: 100px !important;
  background-color: transparent !important;
  border: none !important;
  padding-right: 20px;
}
.my-list-group {
  max-height: 600px;
  overflow: scroll;
}
