.img-thumbnail {
  max-width: 100px;
  max-height: 100px;
  background-color: transparent !important;
  border: none !important;
  padding-right: 20px;
}
.my-list-group {
  max-height: 600px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.loading-spinner {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 30px;
}
.spinner-container {
  user-select: none;
  padding-top: 150px;
  height: 600px;
  margin: auto;
}
.loading-list-container {
  margin: auto;
  padding-left: 40px;
  max-width: 300px;
}
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}
.fa-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
